body {
    margin: 0;
}
.header {
    width: 100%;
}
.header__container {
    width: 1860px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.header__top {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 80px;
    width: 100%;
    border-bottom: #0000001a;
    border: 1px;
}

.top__city {
    display: flex;
    margin-left: 20px;

}
.city__location-name {
    margin-left: 13px;

    color: rgb(0, 26, 52, 1);
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
}
.city__location-img {
    margin-left: 25px;
}

.city__location-description {
    margin: 0;
    width: 75px;
}
.top__navigation {
    margin-left: 70px;
}
.nav__list {
    display: flex;
    list-style-type: none;
    width: 1000x;
    font-size: 18px;
}
.nav-list__element {
    margin-left:  58px;
}
.nav-list__element_first {
    margin-left: 0px  !important;
}
.top__connection {
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.connection__number {
    margin-left: 100px;
    width: 200px;

    font-size: 22px;
}
.connection__application {
    height: 50px;
    width: 190px;
}
.header__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    flex-grow: 1;
    height: 90px;
    width: 100%; 

    border: 1px solid rgba(0, 0, 0, 0.1);
}
.middle__logo {
    display: flex;
    align-items: center;

    margin-left: 10px;
}
.middle__logo-name {
    width: 230px;

    margin-left: 15px;

    color: rgb(0, 26, 52, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgb(90, 108, 125, 1);
}
.middle__input {
    margin-left: 40px;
    width: 562px;
    height: 47px;

    color: rgb(90, 108, 125, 1);
    font-size: 15px;
    background-color: #EFF3F6;
    border: 0px;

    font-family: 'Montserrat', sans-serif;
}
.middle__access {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    display: flex;
    margin-right: 20px;
    
}
.access__login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 130px;
}
.access__favourite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 130px;
}
.access__login-name {
    text-decoration: none;
}
.access__favourite-name {
    text-decoration: none;
}
.middle__recycle-bin {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.recycle-bin__description {
    margin-left: 25px;
}

.bottom__navigation {
    width: 100%;
}
.bottom-nav__list {
    display: flex; 
    justify-content: space-between;

    padding: 0; 
    margin-left: 170px;

    list-style: none;
}

.bottom-nav-list__element {
    display: flex;
    text-align: center; 
    justify-content: center;
    align-items: center; 
}

.bottom-nav-list__element-link {
    color: rgb(90, 108, 125, 1);
    font-family: 'RoadRadio', sans-serif;
    padding-top: 5px;
    font-weight: 900px;
    font-size: 16px;

    width: 100%;
    height: 100%;

    
    text-decoration: none; 
}
.bottom-nav-list__element--img {
    padding-right: 10px;
}
.access__login-img{
    justify-content: center;
}
.access__login-name {
    color: rgb(0, 26, 52, 1);
    font-size: 15px;
}
.access__favourite-name {
    color: rgb(0, 26, 52, 1);
    font-size: 15px;
}
.city__location-description {
    color: rgb(90, 108, 125, 1);
    font-size: 15px;
}
.connection__number-name {
    color: rgb(0, 26, 52, 1);
    font-weight: 900;
}
.connection__application {
    color: rgb(255, 255, 255, 1);
    background-color: rgb(241, 94, 34, 1);
    border-width: 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 900;
}
.bottom__application {
    width: 151px;
    height: 46px;


    color: rgb(255, 255, 255, 1);
    background-color: rgb(241, 94, 34, 1);
    border-width: 0px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 900;

    margin-left: 20px;
}
.nav {
    font-size: 15px;
}
.nav-list__element-link {
    color: rgb(0, 26, 52, 1);
    width: 100%;
    height: 100%;

    
    text-decoration: none; 
}
.nav-list__element-link:hover {
    color: rgb(241, 94, 34, 1);
}
.description-name {
    font-size: 14px;
    color: rgb(90, 108, 125, 1);
}
.description-cost {
    font-size: 26px;
    color: rgb(0, 26, 52, 1);
}
.header__bottom  {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 70px;
    width: 100%;
}
.bottom-nav {
    font-size: 16px;
    
}
.open-card__actions {
    display: flex;
    margin-top: 40px;
    margin-left: 15px;
}
.actions__like {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 20px;
}
.like__img {
    padding-left: 5px;
}
.actions__share {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 15px;
}
.share__img {
    padding-left: 10px;
}
.actions__hit {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 151px;
    height: 40px;

    background-color: #012250;
    border-radius: 111px;

    color: #FFFFFF;

    cursor: pointer;
}
.actions__home {
    padding-right: 10px;
}

.actions__like {
    display: flex;

    width: 151px;
    height: 40px;
    
    background-color: #FFFFFF;

    border-radius: 111px;
    border-color: #FFFFFF;
    border: none;

    color: #F15E22;

    cursor: pointer;
}
.actions__share {
    display: flex;

    width: 151px;
    height: 40px;
    
    background-color: #FFFFFF;

    border-radius: 111px;
    border: none;

    color: #001A34;

    cursor: pointer;
}
.open-card__line {
    margin-top: 40px;
}
.section{
    width: 100%;
    margin-top: 65px;
}
.section__container {
    width: 1820px;
    margin: 0 auto;
}
.main__preview {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    width: 1000px;
}
.preview__three-img {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
}
.preview__three-img img {
    margin-bottom: 30px; 
}

.preview__three-img img:last-child {
    margin-bottom: 0; 
}
.preview__big-img {
    padding-left: 22px;
}

.buy-with__title {
    font-size: 40px;
}
.buy-with__card {
    margin-top:38px;
}
.buy-with__card__list {
    padding: 0;
    width: 1800px;
    height: 367px;
    display: flex;
    gap: 35px;
    list-style-type: none;
    justify-content: space-around;

}
.cart_button__cost--link {
    font-size: 16px;
}
.buy-with-card-list__element {
    width: 360px;
}
.buy-with-card-list__element--name {
    margin-top: 18px;
    font-size: 15px;
    color: #001A34;
}
.buy-with-card-list__cart {
    display: flex;
    border-color: rgb(0, 0, 0);
    border-style: solid; 
    border-width: 1px; 
    justify-content: space-between;
    height: 44px;
    margin-left: 0px;
    margin-top: 20px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cart_button {
    width: 132px;
    border-left: 1px solid rgb(0, 0, 0); 
    display: flex;
    justify-content: space-around;
}
.cart__cost {
    margin-left: 15px; 
    margin-top: 13px; 
    padding: 0;
    color: #F15E22;
}
.cart__cost__old {
    margin-left: 15px; 
    margin-top: 13px; 
    padding: 0;
}
.cart_button__cost--link {
    display: inline-block; 
    margin-top: 12px;
    color: #F15E22;
}
.cart_button__cost--img {
    margin-top: 15px;
}
.open-card {
    width: 1860px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start; 
}
.open-card__moving {
    display: flex;
    flex-direction: row;

    margin-top: 25px;
    margin-left: 15px;
}
.open-card__main {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    width: 1800px;
}
.main__bonus {
    display: flex;

    align-items: center; 
    flex-direction: column;

    margin-left: 40px;
    background-color: #30BA3126;
    width: 360px;
    height: 551px;
}
.bonus__title {
    width: 170px;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}
.bonus__rubl {
    margin-top: 30px;
}
.bonus__bonus-account {
    font-size: 16px;
    margin-top: 30px;
}
.bonus__car {
    margin-top: 30px;
}
.bonus__free-delivery {
    width: 160px;
    text-align: center;
    margin-top: 30px;
}
.remainder__title {
    margin-top: 20px;
    font-size: 12px;
    color: #97A9BA;
}
.remainder__number {
    font-size: 24px;
    margin-top: -5px;
}
.progress__min-max {
    display: flex;
    justify-content: space-between
}
.main__buy {
    margin-left: 35px;
    align-items: center; 
}
.buy__title {
    margin: 0px;
    font-size: 24px;
}
.buy__description {
    margin-top: 5px;
    font-size: 15px;
}
.buy__rating {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.rating__stars__list {
    display: flex; 
    list-style: none; 
    padding: 0;
    margin: 0; 
}
.rating__title {
    margin-left: 25px;
}
.price__sale {
    font-size: 18px;
    margin: 0px;
    text-decoration: line-through;
}
.price__actual {
    font-size: 30px;
    margin: 0px;
    color: #F15E22;
}
.buy__btns {
    display: flex;
    flex-direction: column;

    margin-top: 25px;;
}
.btns__add-to-cart {
    width: 337px;
    height: 60px;
    border: 0px;
    background-color: #F15E22;

    font-size: 15px;
    color: #FFFFFF;

    cursor: pointer;
}
.btns__buy-one-click {
    width: 337px;
    height: 60px;

    margin-top: 10px;
    border: 0px;
    background-color: #EFF3F6;

    font-size: 15px;
    color: #F15E22;
    
    cursor: pointer;
}
.btns__delivery {
    display: flex;
    justify-content: center;
}
.open-card__navigation {
    margin-top: 20px;
    margin-left: 20px;
}
.open-card__navigation__list {
    display: flex;

    padding: 0;

    width: 1800px;
    height: 50px;
    gap: 10px;
    list-style-type: none;
}
.element__btn {
    margin: 0px;
    width: 143px;
    height: 40px;

    border-radius: 111px;
    border: none;

    background-color: #EFF3F6;

    cursor: pointer;
}
.element__btn-q {
    margin: 0px;
    width: 183px;
    height: 40px;

    border-radius: 111px;
    border: none;

    background-color: #EFF3F6;

    cursor: pointer;
}
.element__btn:hover {

    border-radius: 111px;
    border: 1px solid #D6DADE;

    background-color: #FFFFFF;
}
.element__btn-q:hover {

    border-radius: 111px;
    border: 1px solid #D6DADE;

    background-color: #FFFFFF;
}
.open-card__description {
    display: flex;
}

.description__titles__list {
    padding-left: 15px;
}
.description-titles-list__element {
    list-style-type: none;
    margin-bottom: 30px;
}
.description-inf-list__element {
    list-style-type: none;
    margin-bottom: 30px;
}
.moving__path {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.moving__path__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.path-list__element {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.path-list__element--img {
    margin-left: 5px; 
}

.path-list__element--name {
    color: rgb(0, 26, 52, 1);
    width: 100%;
    height: 100%;

    text-decoration: none; 
}
.path-list__element--name:hover {
    color: rgb(241, 94, 34, 1);
}

  
.hits__title {
    font-size: 40px;
}
.hits__card {
    margin-top:38px;
}
.hits__card__list {
    padding: 0;
    width: 1800px;
    height: 367px;
    display: flex;
    gap: 35px;
    list-style-type: none;
    justify-content: space-around;

}
.hits-card-list__element {
    width: 360px;
}
.hits-card-list__element--name {
    margin-top: 18px;
    font-size: 15px;
}
.hits-card-list__cart {
    display: flex;
    border-color: rgb(0, 0, 0);
    border-style: solid; 
    border-width: 1px; 
    justify-content: space-between;
    height: 44px;
    margin-left: 0px;
    margin-top: 20px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.section__hits {
    margin-top: 65px;
}
.new__title {
    font-size: 40px;
}
.new__card {
    margin-top:38px;
}
.new__card__list {
    padding: 0;
    width: 1800px;
    height: 367px;
    display: flex;
    gap: 35px;
    list-style-type: none;
    justify-content: space-around;

}
.new-card-list__element {
    width: 360px;
}
.new-card-list__element--name {
    margin-top: 18px;
    font-size: 15px;
}
.new-card-list__cart {
    display: flex;
    border-color: rgb(0, 0, 0);
    border-style: solid; 
    border-width: 1px; 
    justify-content: space-between;
    height: 44px;
    margin-left: 0px;
    margin-top: 20px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.section__new {
    margin-top: 67px;
}
.recommends__title {
    font-size: 40px;
}
.recommends__card {
    margin-top:38px;
}
.recommends__card__list {
    padding: 0;
    width: 1800px;
    height: 367px;
    display: flex;
    gap: 35px;
    list-style-type: none;
    justify-content: space-around;

}
.recommends-card-list__element {
    width: 360px;
}
.recommends-card-list__element--name {
    margin-top: 18px;
    font-size: 15px;
}
.recommends-card-list__cart {
    display: flex;
    border-color: rgb(0, 0, 0);
    border-style: solid; 
    border-width: 1px; 
    justify-content: space-between;
    height: 44px;
    margin-left: 0px;
    margin-top: 20px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.section__recommends {
    margin-top: 65px;
}
.ceo-information {
    width: 100%;
}
.ceo-information__container {
    width: 1860px;
    margin: 0 auto;

    margin-top: 35px;
    padding-left: 40px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
}
.ceo-information__text-title {
    font-size: 40px;
    margin-bottom: 0px;
}
.ceo-information__text1 {
    margin-top: 20px;
    font-size: 16px;
}
.ceo-information__text2 {
    margin-top: 39px;
    font-size: 16px;
}
.ceo-information__text3 {
    margin-top: 63px;
    font-size: 16px;
}
.footer {
    width: 100%;
    margin-top: 53px;
}
.footer__container {
    width: 1860px;
    margin: 0 auto;

    padding-left: 50px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;

    background-color: rgba(0, 26, 52, 1);
}

.footer__main {
    padding-top: 70px;

    display: flex;
    flex-direction: row;
}
.main__information {
    width: 390px;
}
.company__description {
    width: 250px;
    padding-top: 5px;

    text-align: center;

    color: rgba(90, 108, 125, 1);
}
.footer__additives {
    display: flex;
    flex-direction: column;
}
.company__line {
    padding-left: 90px;
    
}

